.header-alert {
    color: red;
    font-weight: bold;
}

.table-container {
    background: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

.btn-custom {
    background: linear-gradient(to bottom, #b0c4de, #88a3d1);
    border: 1px solid #1d3c6a;
    color: #000;
    font-family: Arial, sans-serif;

    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.7);
}

.btn-custom:hover {
    background: linear-gradient(to bottom, #88a3d1, #b0c4de);
}